@import 'src/sass/common';

.layout {
  display: flex;
  flex: 1 1;
  height: 100vh;
  box-sizing: border-box;

  &-menu {
    width: 250px;
    display: flex;
    flex-direction: column;
    position: relative;
    background: linear-gradient(180deg, #0d0023 0%, rgba(13, 0, 35, 0.93) 100%);
    padding: 28px 0;
    color: $gray-primary;
    font-size: 14px;

    &-logo {
      height: 50px;
      margin-bottom: 35px;
      pointer-events: none;
    }

    @media (prefers-reduced-motion: no-preference) {
      &-logo {
        animation: layout-logo-spin infinite 20s linear;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 28px;
    background-color: $gray-primary-light;
    overflow-y: auto;
  }

  &-logout {
    background-color: $gray-primary-light;
    border-radius: -10px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;

    &:hover {
      color: #fff;
    }
  }
}

@keyframes layout-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
